[submodule "uniqo"]
	path = uniqo
	url = git@git.vauxoo.com:vauxoo/uniqo.git
	branch = 16.0
[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
	branch = 16.0
[submodule "credit-management"]
	path = credit-management
	url = git@git.vauxoo.com:vauxoo/credit-management.git
	branch = 16.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 16.0
[submodule "e-commerce"]
	path = e-commerce
	url = git@github.com:Vauxoo/e-commerce.git
	branch = 16.0
[submodule "stock-logistics-availability"]
	path = stock-logistics-availability
	url = git@github.com:Vauxoo/stock-logistics-availability.git
	branch = 16.0
[submodule "apps"]
	path = apps
	url = git@git.vauxoo.com:vauxoo/apps.git
	branch = 16.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Vauxoo/product-attribute.git
	branch = 16.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:Vauxoo/stock-logistics-warehouse.git
	branch = 16.0
[submodule "account-analytic"]
	path = account-analytic
	url = git@github.com:Vauxoo/account-analytic.git
    branch = 16.0
